.content-row{
    padding: 0 0 6rem;
    hr{
        height: 2px;
        background-color: $baseColor;
        margin: 3.25rem 0;
        border: 0;
    }
    .grid-content{
        &.adv-srch{
            .site-form{
                .site-form-row{
                    margin: 2rem 0;
                    padding: 0;
                    border:none;
                }
            }
        }
        .site-meta{
            background-color: #eeeeee;
            border: 1px solid #b6b6b6;
            padding: 2rem;
            border-radius: 5px;
            margin: 2rem 0;
        }
        .contact-info-table{
            h3{
                margin: 0 0 2.5rem;
                color: $baseColor;    
                text-transform: none;
                display: flex;
                align-self: center;
                small{
                    color: $black;
                    margin-left: 0.5rem;
                    position: relative;
                    top: 2px;
                } 
                a.btn.btn-popup{
                    position: relative;
                    top: 2px;
                    padding: 0.255rem 0.75rem 0.2rem;
                }           
            }          
            table{
                width: 100%;
                margin: 0 0 2rem;
                thead{
                    tr{
                        th{
                            text-transform: uppercase;
                            background-color: $baseColor;
                            padding: 1rem 0.75rem;
                            color: $white;
                            font-size: 1.2rem;
                            line-height: 16px;
                            border-right: 1px solid rgba($white, 0.4);
                        }
                    }
                }
                tbody{
                    tr{
                        &.vip{
                            td{
                                background-color: #e7fcfa;
                            }
                        }
                        td{
                            font-size: 1.2rem;
                            background-color: #fbfbfb;
                            padding: 0.75rem;
                            border: 1px solid #efefef;
                            a{
                                color: $black;
                                pointer-events: none;
                                &.org-name-srch{
                                    pointer-events:initial;
                                    color:$baseColor;
                                }
                                &.btn-edit{
                                    pointer-events: initial;
                                    border: 1px solid #6f6969;
                                    color: #6f6969;
                                    padding: 0.25rem;
                                    display: block;
                                    margin: 0 auto;
                                    width: 30px;
                                    text-align: center;
                                    font-size: 1.5rem;
                                    opacity: 0.5;
                                }
                            }
                            &:nth-child(1){ width: 15%;}
                            &:nth-child(2){ width: 14%;}
                            &:nth-child(3){ width: 16%;}
                            &:nth-child(4){ width: 35%;}
                            &:nth-child(5){ width: 20%; word-break: break-all;}
                            ul{
                                padding: 0;
                                margin: 0;
                                li{
                                    list-style: none;
                                    position: relative;
                                    padding-left: 1rem;
                                    margin-bottom: 0.5rem;
                                    &:before{
                                        font-family: "FontAwesome";
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        content: "\f105";
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .contact-details{
            margin-bottom: 3.5rem;
            .contact-box{
                h3{
                    text-transform: none;
                    margin: 0 0 1rem;
                    color: $baseColor;
                    display: flex;
                    align-items: center;
                }
                h4{
                    text-transform: none;
                    margin: 0 0 1rem;
                }
                p{
                    margin: 0 0 0.75rem;
                    font-size: 1.4rem;
                    .ico-social{
                        width: 22px;
                        height: 22px;
                        border-radius: 2px;
                        background-color: transparent;
                        line-height: 22px;
                        display: inline-block;
                        color: $white;
                        text-align: center;
                        &.ico-fb{ background-color: #3358a1;}
                        &.ico-twitter{ background-color: #1c9cea;}
                        &.ico-yt{ background-color: #f70000;}
                    }
                }
                a{
                    display: inline-block;
                    color: $black;
                    font-weight: 400;
                }
                ul{
                    padding: 0;
                    margin: 0;
                    li{
                        list-style: none;
                        position: relative;
                        padding-left: 1.5rem;
                        margin: 0 0 0.5rem;
                        &:last-child{
                            margin: 0;
                        }
                        &:before{
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 7px;
                            background-color: #000000;
                            width: 7px;
                            height: 7px;
                            border-radius: 50%;
                        }
                        a{
                            color: $black;
                        }
                    }
                }
            }
        }        
        .content-head{
            display: flex;
            align-items: center;
            padding-bottom: 1rem;
            border-bottom: 2px solid $baseColor;
            margin-bottom: 2rem;
            h2{
                flex-grow: 1;
                margin: 0;
                color: #191919;
                font-weight: 400;
                font-size: 2.75rem;
                text-transform: none;
            }
            a{
                text-transform: uppercase;
                display: inline-block;
                color: $black;
                font-weight: 600;
                &.btn-back{
                    margin-left: 0.75rem;
                }
            }            
        }
        .content-meta{
            display: flex;
            align-items: center;
            padding-bottom: 1rem;
            border-bottom: 1px solid #c2c0c1;
            margin-bottom: 2rem;
            h3{
                flex-grow: 1;
                margin: 0;
                color: #191919;
                font-weight: 700;
                text-transform: none;
                span{
                    padding-left: 1rem;
                }
            }
            a{
                display: inline-block;
                color: #424242;
                font-weight: 600;
            }            
        }
        .search-meta{
            font-weight: 600;
            color: $black;
            font-size: 1.75rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $borderColor;
            span{
                color: $baseColor;
            }
        }
        .cat-box{
            margin-bottom: 2.5rem;
            width: 100%;
            &.ministry{
                margin-bottom: 2rem;
                ul{
                    li{
                        width: 50%;
                        display: inline-block;
                        margin: 0 -2px 0.5rem;
                    }
                }
            }
            &.state{
                ul{
                    li{
                        width: 50%;
                        display: inline-block;
                        margin: 0 -2px 0.5rem;
                        padding:0 1.75rem;
                        &:before{
                            content: "\f18e";
                            font-family: "FontAwesome";
                            width: auto;
                            height: auto;
                            background: none;
                            top: 1px;
                        }
                    }
                }
            }
            h3, h4{
                border-bottom: none !important;
                padding-bottom: 0 !important;
                margin: 0 0 1rem !important;
                font-weight: 600 !important;
                text-transform: none !important;
                word-break: break-all;
                a{
                    color: $black;
                    &:hover{
                        color: $black;
                    }
                }
            }
            ul{
                padding: 0;
                margin: 0 0 0.9rem;
                li{
                    list-style: none;
                    position: relative;
                    padding-left: 1.5rem;
                    margin-bottom: 0.4rem;
                    &:before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 7px;
                        background-color: #2a2a2a;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                    }
                    a{
                        display: inline-block;
                        color: #202020;
                    }
                }
            }
            .btn-all{
                font-weight: 700;
                font-size: 1rem;
                text-transform: uppercase;
                padding: 0 0 0.15rem 0;
                border-bottom: 1px solid $baseColor;
                margin:0 0 0 1rem;
                background: none;
                position: relative;
                color: $baseColor !important;
                border-radius: 0;
                text-align: left;
                width: auto;
                &::before{
                    content: "+";
                    border-radius: 0;
                    position: absolute;
                    left: -11px;
                    top: -1px;
                    font-size: 1.25rem;
                    font-weight: 600;
                    background: none;
                    right: auto;
                    bottom: auto;
                }
            }
        }
        .cat-post-container{
            h3{
                margin: 0 0 2.5rem;
                text-transform: none;
            }
            .row{
                margin: 0 -25px;                
                .col, .col-lg-4, .col-lg-6{
                    padding: 0 25px;
                }
            } 
            &.single.cat-container{
                margin: 3rem 0;
                .cat-box{
                    h3{
                        a{
                            color: $baseColor
                        }
                    }
                    ul{
                        li{
                            margin-bottom: 0.75rem;
                            a{
                                color: $baseColor;
                                &:hover{
                                    color: $baseColor;
                                }
                            }
                        }
                    }
                }
            } 
            &.single{
                .col-lg-4{
                    &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3){
                        .cat-box{
                            margin: 0;
                        }   
                    }
                }               
                h3{
                    color: $baseColor;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .cat-box{
                    position: relative;
                    padding-left: 2rem;
                    margin-bottom: 1.8rem;
                    &:before{
                        font-family: "FontAwesome";
                        content: "\f18e";
                        position: absolute;
                        left: 0;
                        top: -4px;
                        font-size: 1.75rem;
                        color: $baseColor;
                    }
                    h4{
                        margin: 0 !important;
                    }
                }
            }                    
        }
        .search-content{
            .search-result-row{
                display: flex;
                align-items: center;
                padding: 0.75rem 0.75rem 0.75rem 2rem;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    left: 7px;
                    top: 15px;
                    background-color: $black;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                }
                .search-title{
                    flex-grow: 1;
                    color: $black;
                    padding-right: 1.5rem;
                    width: calc(100% - 100px);
                    &:hover{
                        span{
                            color: $baseColor;
                        }
                    }
                    span{
                        color: $black;
                        margin-left: 0.25rem;
                        position: relative;
                        top: 1px;
                    }
                }
                .search-opts{
                    width: 100px;
                    text-align: right;                    
                }
            }
        }
    }
    .widget-container{
        .post-widget{
            border-radius: 4px;
            padding: 1.75rem 2rem;
            border: 1px solid $baseColor;
            margin-bottom: 2.5rem;
            .btn-details{
                background-color: $white;
            }
            &:last-child{
                margin-bottom: 0;
            }
            &.sow{
                text-align: center;
                background-image: url(../images/bg-sow.png);
                background-repeat: no-repeat;
                background-position: center top;
                background-color: #f8fcff;
                h3{
                    text-align: left;
                    margin: 0 0 1rem;
                }
                h4{
                    margin: 1rem 0 1.5rem;
                    a{
                        &:hover{
                            color: $baseColor;
                        }
                    }
                }
                p{
                    color: #424242;
                    padding: 0 1rem;
                }
                .widget-img{
                    margin: 2rem 0;
                    border: 2px solid $baseColor;
                    a{
                        display: block;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
            .btn-grp{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 2.75rem;                
                .btn-rss{
                    color: #ff7816;
                    font-size: 1rem;
                    &:hover, &:active, &:focus {
                        text-decoration: none;
                        outline: none;
                        box-shadow: none;
                        color: #ff7816 !important;
                    }
                }
            }
            h3{
                padding-bottom: 1.25rem;
                border-bottom: 2px solid #c6d6d4;
                font-size: 2rem;
            }
            ul{
                padding: 0;
                margin: 0;
                li{
                    list-style: none;
                    position: relative;
                    padding-left: 1.5rem;
                    margin: 0 0 1.5rem;
                    &:last-child{
                        margin: 0;
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 7px;
                        background-color: #595959;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                    }
                    h4{
                        text-transform: none;
                        margin: 0 0 1rem;
                    }
                    p{
                        margin: 0 0 0.25rem;
                        a{
                            width: 22px;
                            height: 22px;
                            border-radius: 2px;
                            background-color: #000000;
                            line-height: 22px;
                            display: inline-block;
                            color: $white;
                            text-align: center;
                            &.ico-fb{ background-color: #3358a1;}
                            &.ico-twitter{ background-color: #1c9cea;}
                            &.ico-yt{ background-color: #f70000;}
                        }
                    }
                    a{
                        display: inline-block;
                        color: #595959;
                        font-weight: 400;
                    }
                }
            }
        }
        .cat-img{
            margin-bottom: 1.75rem;
            a{
                display: block;
            }
            img{
                height: auto;
                object-fit: cover;
                width: 100%;
                border-radius: 2px;
                box-shadow: 0 0 3px rgba(0, 0, 0,  0.15);
                border: 1px solid rgba(0,0,0,0.1);
            }
        }
    }    
}

.main-content .btn-detail{
    position: relative;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.3rem 1.25rem;
    font-weight: 600;
    border: 1px solid $baseColor;
    color: $black !important;
    border-radius: 15px;
    &:hover, &:focus, &:active{
        text-decoration: none !important;
        color: #1d3a7c !important;
    }
    span{
        position: relative;
        z-index: 10;
    }
    &:after{
        position: absolute;
        z-index: 9;
        content: "";
        width: 0%;
        height: 0%;
        left: 50%;
        top: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        border-radius: 15px;
        background: #4ea3fe; /* Old browsers */
        background: -moz-linear-gradient(left,  #4ea3fe 0%, #4ea3ff 5%, #4ba2ff 6%, #4ca5ff 7%, #42abfe 12%, #3db2ff 18%, #3ab2fe 18%, #34b7ff 21%, #2dbcfe 27%, #2ebfff 28%, #28c0ff 30%, #1fcafe 37%, #04dfff 54%, #03defe 61%, #05e0ff 61%, #03defe 64%, #05e0ff 68%, #03defe 70%, #05e0ff 74%, #03defe 76%, #05e0ff 78%, #03ddff 88%, #05e0ff 92%, #03ddff 95%, #05e0ff 95%, #03defe 96%, #05e0ff 96%, #03defe 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #4ea3fe 0%,#4ea3ff 5%,#4ba2ff 6%,#4ca5ff 7%,#42abfe 12%,#3db2ff 18%,#3ab2fe 18%,#34b7ff 21%,#2dbcfe 27%,#2ebfff 28%,#28c0ff 30%,#1fcafe 37%,#04dfff 54%,#03defe 61%,#05e0ff 61%,#03defe 64%,#05e0ff 68%,#03defe 70%,#05e0ff 74%,#03defe 76%,#05e0ff 78%,#03ddff 88%,#05e0ff 92%,#03ddff 95%,#05e0ff 95%,#03defe 96%,#05e0ff 96%,#03defe 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #4ea3fe 0%,#4ea3ff 5%,#4ba2ff 6%,#4ca5ff 7%,#42abfe 12%,#3db2ff 18%,#3ab2fe 18%,#34b7ff 21%,#2dbcfe 27%,#2ebfff 28%,#28c0ff 30%,#1fcafe 37%,#04dfff 54%,#03defe 61%,#05e0ff 61%,#03defe 64%,#05e0ff 68%,#03defe 70%,#05e0ff 74%,#03defe 76%,#05e0ff 78%,#03ddff 88%,#05e0ff 92%,#03ddff 95%,#05e0ff 95%,#03defe 96%,#05e0ff 96%,#03defe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ea3fe', endColorstr='#03defe',GradientType=1 ); /* IE6-9 */
    }
    &:hover{
        &:after{
            width: calc(100% + 2px);
            opacity: 1;
            height: calc(100% + 2px);
            top: 49%;
        }
    }
}

.site-breadcrumb{
    padding: 2.5rem 0 2.75rem;
    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            position: relative;
            margin-right: 1rem;
            display: inline-block;
            font-size: 1.2rem;
            &:last-child{
                &:after{
                    content: none;
                }
            }
            &:after{
                position: absolute;
                content: "/";
                right: -9px;
                top: 0;
                color: #868686;
            }
            a{
                color: #868686;
            }
            span{
                font-weight: 700;
                color: $baseColor;
            }
        }
    }
}

.sector-container{
    padding: 2rem 0;
    .sector-box{
        text-align: center;
        padding: 0 1.75rem;
        min-height: 130px;
        position: relative;
        background-color: $white;
        background-clip: padding-box;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -1px;
            border-radius: inherit;
            background: linear-gradient(to right, #3229a4, #b43aa8);
        }
        .sector-box-content{
            width: 100%;
            h4{
                text-transform: none;
                color: #555555;
                font-size: 1.16rem;
                margin: 0.5rem 0 0;
            }
        }
    }
}

.sec-ld-more{
    margin-top: 2rem;
    .btn{
        background: $white;
        border-radius: 25px;
        border: 1px solid $baseColor;
        color: $baseColor;
        font-weight: 700;
        padding: 0.75rem 1rem;
        width: 120px;
        margin: 0 auto;
        display: block;
        &:hover, &:focus, &:active{
            text-decoration: none !important;
        }
    }
}
