$black                  :  #000000;
$white                  :  #ffffff;
$baseColor              :  #2584c6;
$titleColor             :  #ffcc00;
$borderColor            :  #c2c0c1;
$borderColorLight       :  #e2e2e2;
$headerTopBg            :  #efefef